body
{
    font-family: lucida grande ,tahoma,verdana,arial,sans-serif;
    background-color: #ffffff;
    background-image: url(../Images/fondo_beige_pizzeria.png);
    

}

body p
{
    font-size: 0.8em;
    line-height: 1.28;
   
    
}
#content_area > table
{
    background-color: white;
}
#wrapper
{
    width: 1080px;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    border: 5px solid #dedede;
}

#banner
{
    background-image: url(../Images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid #dedede;    
    height: 200px;
}

#content_area
{
    float: left;
    width: 100%;
    margin: 20px 0 20px 0;
    padding: 10px;
}


footer
{
    clear: both;
    width: auto;
    height: 40px;
    padding: 10px;
    border: 3px solid #E3E3E3;
    text-align: center;
    color: #fff;
    text-shadow: 0.1em 0.1em #333;
    background-image: url(../Images/mantel-background-vector.jpg);
}

#navigation
{
    height: 60px;
    border: 3px solid #E3E3E3;
    margin-top: 20px;
    text-shadow: 0.1em 0.1em #333;
    background-image: url(../Images/mantel-background-vector.jpg);
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-shadow: 0.1em 0.1em #ffffff;
}

input[type="submit" i] 
{
    
    background-color: whitesmoke(236, 13, 13);
    color: -internal-light-dark(black, white);
    padding: 4px 20px

    
}


#nav
{
    list-style: none;
}

#nav ul
{
    margin: 0;
    padding: 0;
    width: auto;
    display: none;
}

#nav li
{
    font-size: 30px;
    float: left;
    position: relative;
    text-align: center;
    width: 180px;
    height: 50px;
}

#nav a:link, nav a:active, nav a:visited
{
    display: block;
    color: #fff;
    text-decoration: none;
}

#nav a:hover
{
    color: whitesmoke(236, 13, 13);
}

.imgLeft
{
    float: left;
    width: 240px;
    height: 150px;
    margin: 0px 10px 10px 0;
    padding: 10px;
}

.imgRight
{
    float: right;
    width: 200px;
    height: 250px;
    margin: 0px 0 10px 10px;
    padding: 10px;
}

#pantallaMenu{
    width: 1041px;
    height: 372px;
}
.Carousel

    body{
        font-family:sans-serif ;
        display: flex ;
        justify-content: center;
        align-items: center ;
    }
.Carousel{
    width: 120px;
    height: 170px;
   
   
}

.carousel-item{
    width: 120px;
    height: 170px;
    margin: 0px 0 10px 10px;
    padding: 10px;
    justify-content: center;
}

body {
    background-color: #89FAD0;
    font-family: 'Lobster';
}

.carousel {
    position: absolute;
    height: 200px;
    width: 810px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    text-align: center;
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    color: #228291;
    line-height: 30px;
    margin-top: 85px;
    z-index: 1000;
}


.Image{
    display: flex;
    transform: translater(0);
}

.Controls{
    height: 50px ;
    display: flex;
    justify-content: space-between;
}

.button{
    bottom: auto;
    background-color: red;
    flex-basis: 33em;
    cursor: pointer;
}

table
{
    background-color: white;
}